<!DOCTYPE html>
<html>
<head>
    <title>Liste des Lauréats</title>
</head>
<body>
    <h1>Liste des Lauréats</h1>
    <ul>
    {% for laureat in laureats %}
        <li>{{ laureat.NomLaureat }} - {{ laureat.Pays }}- {{ laureat.Sexe }}- {{ laureat.EditionPrix }}- {{ laureat.NomPrix }}</li>
        <form action="{% url 'supprimer_laureat' laureat.idLaureat  %}" method="post">
            {% csrf_token %}
            <input type="submit" value="Supprimer">
        </form>
        
    {% endfor %}
    </ul>
    <script>
        window.history.replaceState({}, document.title, "/");
    </script>
</body>
</html>
